.country{
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 10px;
    margin: 12px;
    width: 280px;
}
.visited{
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.image{
    width: 250px;
}

.div-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}